.btn{
    &:link,
    &:visited
    {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 30px;
    transition: all 200ms;
    position: relative;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 10px 10px 20px rgba($color-black,.2);
        &::after{
            transform: scale(1.5);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 10px 10px rgba($color-black,.2);
    }
    &-white
    {
        background-color: $color-light;
        color:$color-dark;
    }
    &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: all 500ms;
    }
    &-white::after{
        background-color: #fff;
    }
    &-animation{
        animation-name: moveUp;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    }
}
.btn-text
{ 
    padding: 0 0.5rem;
    &:link,
    &:visited
    {
        color: $color-primary-light;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid $color-primary-light;
    }
    &:hover
    {
        transition: all 500ms;
        background-color: $color-primary-dark;
        transition: background-color 500ms;
        color: whitesmoke;
        border-radius: 10px;
        box-shadow: 1rem 1.5rem 1rem rgba($color-black,0.3);
        transform:translateY(-0.2rem);
    }
    &:active
    {
        box-shadow: 0 .5rem 2rem rgba($color-black,0.3);
        transform:translateY(0);
    }
}